@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* --------------------------------------------------------------NAVBAR STYLING------------------------------------------------------------- */

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    /* background-color: #7755e6; */
    font-family: "Ubuntu", sans-serif;
    transition: 0.3s ease;
    z-index: 999;
}

.navbar.sticky {
    padding: 15px 0;
    background-color: #7755e6;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.navbar.sticky .logo a {
    color: white;
}

.navbar .logo a span {
    color: #7755e6;
    transition: 0.3s ease;
}

.navbar.sticky .logo a span {
    color: white;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: 0.3s ease;
}

.navbar.sticky .menu li a {
    color: white;
}

.navbar.sticky .menu li a:hover {
    color: white;
}

.navbar .menu li a:hover {
    color: #7755e6;
}

/* menu-btn styling */
.menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* --------------------------------------------------------------HOME STYLING------------------------------------------------------------- */
.home {
    display: flex;
    background: #111;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
}

.home .max-width {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .home-content .text-1 {
    font-size: 25px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
    color: #7755e6;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background-color: #7755e6;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #7755e6;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: #7755e6;
    background: none;
}

.home .my-pic {
    width: 300px;
    height: 300px;
    position: relative;
}

.home .my-pic .Pimg {
    width: 100%;
    height: 100%;
    border: 2px solid #7755e6;
    border-radius: 50%;
    box-shadow: 0 0 10px #7755e6;
    transition: 0.3s ease;
    cursor: pointer;
}

.home .my-pic .Pimg:hover {
    box-shadow: 0 0 15px #7755e6, 0 0 30px #7755e6, 0 0 45px #7755e6;
}

.Pimg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* --------------------------------------------------------------ABOUT STYLING------------------------------------------------------------- */
.about {
    font-family: "Poppins", sans-serif;
}

.about .title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
    position: relative;
}

.about .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 3px;
    background: #111;
}

.about .title::after {
    content: "who I am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #7755e6;
    transform: translateX(-50%);
    padding: 5px;
    background: white;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 8px;
    border-radius: 50%;
    object-position: top;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: #7755e6;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background-color: #7755e6;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #7755e6;
    transition: all 0.3s ease;
    font-weight: 500;
}

.about .about-content .right a:hover {
    color: #7755e6;
    background: none;
}

/* --------------------------------------------------------------COMMON STYLING------------------------------------------------------------- */
section {
    padding: 100px 0;
}

.about,
.skills,
.services,
.contact,
footer {
    font-family: "Poppins", sans-serif;
}

.about .about-content,
.skills .skills-content,
.services .serv-content,
.contact .contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

section .title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
    position: relative;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 3px;
    background: #111;
}

section .title::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #7755e6;
    transform: translateX(-50%);
    padding: 5px;
    background: white;
}

/* --------------------------------------------------------------SKILLS STYLING------------------------------------------------------------- */
.skills .title::after {
    content: "what i know";
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
    margin-bottom: 40px;
}

.skills .skills-content .right .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 8px;
    background: #fff;
    align-items: center;
    place-items: center;
    row-gap: 40px;
    text-align: center;
}

.skills .skills-content .right .container .box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.skills .skills-content .right .circular-progress {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: conic-gradient(#7755e6 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.skills .skills-content .right .circular-progress::before {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #fff;
}

.skills .skills-content .right .progress-value {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #7755e6;
}

.skills .skills-content .right .text {
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

/* --------------------------------------------------------------PROJECTS STYLING------------------------------------------------------------- */
.services {
    background: #111;
    color: white;
}

.services .title::before {
    background-color: white;
}

.services .title::after {
    background: #111;
    content: "my latest work";
}

.services .serv-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.services .serv-content .card {
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
    position: relative;
}

.services .serv-content .card:hover {
    transform: scale(1.05);
}

.services .serv-content .card img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

/* Overlay text */
.services .serv-content .box .text {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    color: white;
}

.services .serv-content .card .box:hover .text {
    opacity: 1;
    visibility: visible;
}

.services .serv-content .card p {
    margin-top: 10px;
}

/* --------------------------------------------------------------CONTACT STYLING------------------------------------------------------------- */
.contact .title::after {
    content: "get in touch";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: #7755e6;
}

.contact .contact-content .info .sub-title {
    color: #333;
    font-weight: 400;
}

#emailAdd:hover,
#linkdin:hover {
    color: #7755e6;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-right: 10px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 150px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid #7755e6;
    background: #7755e6;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: #7755e6;
    background: none;
}

.contact .right form .button i {
    font-size: 20px;
    margin-left: 5px;
}

.contact .right form #mail-error,
.contact .right form #msg-error {
    font-size: 15px;
    color: #f83737;
    display: none;
}

.contact .right form #submitted-msg {
    font-style: italic;
    margin-top: 10px;
    font-weight: 400;
    display: none;
}

.show {
    display: block;
}

/* --------------------------------------------------------------FOOTER STYLING------------------------------------------------------------- */
footer {
    background: #111;
    padding: 25px 23px;
    text-align: center;
}

footer span {
    color: #726f6f;
}

/* #7755e6 */

/* --------------------------------------------------------------RESPONSIVE MEDIA QUERIES------------------------------------------------------------- */
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        width: 250px;
        height: 250px;
    }

    .home .max-width {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }

    .home .max-width {
        width: 100%;
    }
}

@media (max-width: 950px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        background-color: #111;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .max-width {
        width: 100%;
        height: 100%;
        flex-direction: column;
        text-align: center;
        margin: auto;
        align-items: center;
        justify-content: space-evenly;
    }

    .home .home-content a {
        display: none;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .max-width {
        max-width: 800px;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 25px;
    }

    .skills .skills-content .right .container {
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    .services .serv-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .services .serv-content .card {
        margin-bottom: 20px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .navbar.sticky .menu li a:hover {
        color: #7755e6;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .skills .skills-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

    .services .serv-content {
        grid-template-columns: 1fr;
    }

    .services .serv-content .card {
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .skills .skills-content .column {
        max-width: 90%;
    }

    .skills .skills-content .left p {
        max-width: 100%;
    }

    .skills .skills-content .right .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }

    .skills .skills-content .right .container {
        grid-template-columns: repeat(2, 1fr);
    }
}